@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);



#msg-box4-3 .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box1-9 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-9 .mbr-article {
  color: #fff;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #363636;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #efefef;
}
#ext_menu-11 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
#ext_menu-11 .mbr-navbar__items a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}



#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #363636;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #efefef;
}
#ext_menu-11 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
#ext_menu-11 .mbr-navbar__items a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-10 .mbr-header__text {
  color: #4c6972;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #4c6972;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  text-align: center;
  font-size: 18px;
  color: #4c6972;
}
#content5-9 .mbr-article H2 {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}




#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #363636;
}
#ext_menu-11 .mbr-navbar__hamburger {
  color: #efefef;
}
#ext_menu-11 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
#ext_menu-11 .mbr-navbar__items a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text SPAN {
  font-family: 'Titillium Web', sans-serif;
}
#msg-box3-17 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-17 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-17 .mbr-article P {
  text-align: center;
}
